body{
    text-align: center;
    background-color:blueviolet;
}
.general{
    padding: 20px;
    border-radius: 10px;
}
.fname{
    padding-bottom: 10px;
    border-radius: 10px;
}
.lname{
        padding-bottom: 10px;
        border-radius: 10px;
}
.email{
    padding-bottom: 10px;
    border-radius: 10px;
}
.pwd{
    padding-bottom: 10px;
    border-radius: 10px;
}
.button{
    background-color: blue;
    border-radius: 10px;
    color:red;
}
.msg{
    padding-bottom: 10px;;
}
.button:hover{
    color:lawngreen;

}