body{
    text-align: center;
    background-color:blueviolet;
}
.general{
    padding: 20px;
    border-radius: 10px;
}
.general label{
    display: block;
}
.gen{
    padding-bottom: 10px;
    border-radius: 10px;

}
.button{
    background-color: blue;
    border-radius: 10px;
    color:red;
}
.msg{
    padding-bottom: 10px;;
}
.button:hover{
    color:lawngreen;

}